<!--# 1. Создать страницу с пунктами меню-->
<!--   Меню создаётся из списка строк-->
<!--   Использовать ветвление и циклы для наполнения страницы-->
{% load static %}
<a href="http://127.0.0.1:8000/mainpage/">назад</a>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Меню</title>
</head>
<body>
<script type="text/javascript" src={% static "js/date.js" %}></script>
<link rel="stylesheet" href="{% static "css/style_menu.css" %}" />
<div id="clock"></div>
<h1>Меню</h1>
    <h2>Салаты </h2>
    {% for dish in salats %}
    <li>{{dish}}</li>
    {% endfor %}
<h2>Гарниры</h2>
{% for gar in garnirs %}
<li>{{gar}}</li>
{% endfor %}


{% for sp in sportsmen %}
<li>{{sp.name}} {{sp.birthday}}</li>
{% endfor %}

</body>
</html>








