
h1 {
    color: white;
    width: 100px;

    background: rgba(0,0,0, 0.4);

    }

li {
    color: white;
    width: 120px;

    background: rgba(0,0,0, 0.4);
    }

<div id="clock"></div>


l1 {
    background-image: "{% static "img/Restorane.jpg" %}";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }


